
.sidebar {
  position: fixed;
  top: var(--navbar-height);
  left: 0;

  width: var(--sidebar-collapsed);
  min-height: calc(100vh - var(--navbar-height) );

  background: #212529;
  overflow-y: auto;
  transition: width 0.25s ease;
  z-index: 1000; /* LOWER than footer */
}

.sidebar:hover {
  width: var(--sidebar-expanded);
}


.with-sidebar .app-content {
  margin-top: 64px;
  margin-left: 64px;
  transition: margin-left 0.25s ease;
}

.sidebar:hover + .app-content {
  margin-left: 240px;
}

  .sidebar .nav-link {
    display: flex;
    align-items: center;
    padding: 12px;
    white-space: nowrap;
  }
  
  .sidebar .icon {
    font-size: 20px;
    margin-right: 10px;
  }
  
  .sidebar .link-text {
    opacity: 0;
    transition: opacity 0.2s;
  }
  
  .sidebar:hover .link-text {
    opacity: 1;
  }
  
  .content {
    margin-left: 70px;
    transition: margin-left 0.3s;
  }
  
  .sidebar:hover ~ .content {
    margin-left: 200px;
  }
  